<div class="posts-wrapper">
  <mat-paginator
    [length]="lastPage"
    [pageSize]="pageSize"
    [pageSizeOptions]="pageSizeOptions"
    aria-label="Select page"
    (page)="changePage($event)"
  >
  </mat-paginator>

  <ng-container *ngFor="let post of paginatorPage; let id = index">
    <div *ngIf="!(loader$ | async)">
      <mat-card class="example-card">
        <mat-card-title>{{ post.name }}</mat-card-title>
        <mat-card-content>
          <p>{{ post.body }}</p>
        </mat-card-content>
        <mat-card-actions>
          <div class="btns-default">
            <button mat-button (click)="edit(id)" (click)="scrollToForm()">
              Редактировать
            </button>
            <button mat-button (click)="delete(id)">Удалить</button>
            <!-- <fa-icon [icon]="['far', 'heart']"></fa-icon>
            <fa-icon [icon]="['far', 'heart']" primaryColor="red"></fa-icon> -->
            <button mat-icon-button color="warn" aria-label="button heart icon">
              <mat-icon>favorite</mat-icon>
            </button>
            <button
              class="favorite_border"
              mat-icon-button
              aria-label="button heart icon"
            >
              <mat-icon>favorite_border</mat-icon>
            </button>
            <!-- <i class="fas fa-heart"></i> -->
          </div>
        </mat-card-actions>
      </mat-card>
    </div>
  </ng-container>
</div>
