<mat-paginator
  [length]="lastPage"
  [pageSize]="pageSize"
  [pageSizeOptions]="pageSizeOptions"
  aria-label="Select page"
  (page)="changePage($event)"
>
</mat-paginator>

<ng-container *ngFor="let post of paginatorPage">
  <mat-card class="example-card">
    <mat-card-title>{{ post.name }}</mat-card-title>
    <mat-card-content>
      <p>{{ post.body }}</p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>Редактировать</button>
      <button mat-button>Удалить</button>
    </mat-card-actions>
  </mat-card>
</ng-container>
