<div class="form-wrapper" id="form">
  <form class="form" [formGroup]="form">
    <mat-form-field appearance="fill" class="full-width" appearance="fill">
      <mat-label>Имя</mat-label>
      <input matInput placeholder="Имя" value="" formControlName="name" />
    </mat-form-field>
    <div class="error" *ngIf="isControlValid('name')">
      Введенный текст невалиден
    </div>
    <mat-form-field class="full-width" appearance="fill">
      <mat-label>Оставьте комментарий</mat-label>
      <textarea
        matInput
        placeholder="Комментарий"
        formControlName="body"
      ></textarea>
    </mat-form-field>
    <div class="error" *ngIf="isControlValid('body')">
      Введенный текст невалиден
    </div>
    <section>
      <div class="button-row">
        <button
          *ngIf="notEditable"
          mat-raised-button
          [disabled]="form.invalid"
          (click)="onSubmit()"
        >
          Добавить
        </button>
        <button
          *ngIf="!notEditable"
          mat-raised-button
          color="accent"
          (click)="saveChanges()"
        >
          Сохранить
        </button>
        <button
          *ngIf="!notEditable"
          mat-raised-button
          color="accent"
          (click)="cancelChanges()"
        >
          Отмена
        </button>
      </div>
    </section>
  </form>
</div>
<div>
  <div *ngIf="loading$ | async" class="icon">
    <span>Loading...</span>
    <!-- <fa-icon [icon]="['fab', 'stack-overflow']"></fa-icon>
    <fa-icon [icon]="['fab', 'github']"></fa-icon> -->
    <fa-icon [icon]="['fas', 'spinner']" [spin]="true"></fa-icon>
  </div>
</div>
